<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Store | {{title}}</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="client.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" />
</head>

<body>

    <header class="header">
        <div class="header">
            <nav class="navbar">
                {{#if isSafe}}
                <a href="/money">Money Page</a>
                {{else}}
                <a href="/">Safe Page</a>
                {{/if}}
            </nav>
        </div>

    </header>
    {{#if messages.error}}
    <div class="alert alert-danger">{{messages.error}}</div>
    {{/if}}

    {{{body}}}

</body>
<script src="../../utils/hide-error.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const fpPromise = import('https://openfpcdn.io/fingerprintjs/v4')
            .then(FingerprintJS => FingerprintJS.load())

        const screenResolution = `${window.screen.width}x${window.screen.height}`;
        const isTouchable = 'ontouchstart' in window || navigator.maxTouchPoints > 0 ||navigator.msMaxTouchPoints > 0;
        const browserLanguage = navigator.language;
        const localBrowserTime = new Date().toLocaleString();
        const isHeadless = /HeadlessChrome/.test(navigator.userAgent);
        const isMobileResolution = window.screen.width <= 768;

        fpPromise
            .then(fp => fp.get())
            .then(result => {
                const fingerPrintId = result.visitorId;

                if (window.location.pathname === '/') {
                    fetch('/', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({
                            fingerPrintId,
                            screenResolution,
                            browserLanguage,
                            localBrowserTime,
                            isTouchable,
                            isMobileResolution,
                            isHeadless,
                        })
                    })
                        .then(response => response.json())
                        .then(data => console.log('Data saved:', data))
                        .catch(error => console.error('Error sending data:', error));
                }
            })
            .catch(error => console.error('Failed to load fingerprintjs script:', error));
    });
</script>

</html>