<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

</head>

<body>

    <header class="header">

        <div class="header">
            <nav class="navbar">
                <a href="/money">Money Page</a>
         
            </nav>
        </div>

    </header>

    {{{body}}}


    </body>

<script>
document.addEventListener("DOMContentLoaded", function() {
    if (window.location.pathname === '/') {
        const screenResolution = `${window.screen.width}x${window.screen.height}`;
        const isTouchable = 'ontouchstart' in window || navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;
        const browserLanguage = navigator.language;
        const localBrowserTime = new Date().toLocaleString();
       const isHeadless = /HeadlessChrome/.test(navigator.userAgent);

        fetch('/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                screenResolution,
            isTouchable,
            browserLanguage,
            localBrowserTime
            })
        })
        .then(response => response.json())
        .then(data => console.log('Data saved:', data))
        .catch(error => console.error('Error sending data:', error));
    }
    if (isTouchable || isMobileResolution || isHeadless) {
        window.location.href = '/'; 
    }

        
});
</script>




</html>