
    <section class="money" id="money">
        <div class="row">
            <div class="content">
                <img src = "images/money.svg" alt = "money" class = "money-img">
                <h3>Money page</h3>
                <p>This is money page</p>
                <a href = "/">Back to safe page</a>
            </div>
        </div>

            
    </section>
