<section class="safe" id="safe">
    <div class="row">
        <div class="content">
            <img src="images/safe.svg" alt="safe" class="safe-img ">
            <h3>Safe page</h3>
            <p>This is safe page</p>
        </div>
</section>