/* Стилове за хедъра */
.header {
  background-color: #333; /* Тъмен фон за хедъра */
  color: #fff; /* Бели букви за контраст */
  padding: 10px 20px; /* Отстояния от вътрешната страна на хедъра */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Сянка за визуално отделяне */
}

/* Стилове за навигационната лента */
.navbar {
  display: flex; /* Flexbox за подреждане на линковете */
  justify-content: space-around; /* Разпределение на линковете с равни отстояния */
  align-items: center; /* Центриране на елементите вертикално */
}

.navbar a {
  color: #fff; /* Цвят на текста в линковете */
  text-decoration: none; /* Премахване на подчертаването на линковете */
  padding: 10px 15px; /* Отстояния около текста за по-добър визуален комфорт */
  transition: background-color 0.3s; /* Анимация при ховър */
}

.navbar a:hover {
  background-color: #555; /* Промяна на фона при ховър за по-добра визуална обратна връзка */
}

/* Скриване и показване на линкове базирано на статуса на потребителя */
.logged-in a:not(.logged-in) {
  display: none; /* Скрива линкове, които не са за логнати потребители */
}

.guest a:not(.guest) {
  display: none; /* Скрива линкове, които не са за гости */
}

/* Основни стилове за секцията */
.safe {
  background-color: #d44141; /* Светъл фон за лесно различаване */
  padding: 20px; /* Подходящо разстояние от рамките */
  border-radius: 8px; /* Заоблени ъгли */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Дискретен сянка за дълбочина */
  margin: 20px auto; /* Центриране и място отоколо */
  width: 80%; /* Определено ширина, подходящо за повечето устройства */
  max-width: 600px; /* Максимална ширина за големи екрани */
}

/* Стилизиране на контейнерите вътре */
.row {
  display: flex; /* Flexbox за подреждане на съдържанието */
  justify-content: center; /* Центриране на съдържанието хоризонтално */
  align-items: center; /* Центриране на съдържанието вертикално */
}

.content {
  text-align: center; /* Центриран текст */
}

.content h3 {
  color: #333; /* Тъмен цвят за заглавието за по-добра четимост */
  font-size: 24px; /* По-голям размер на шрифта за заглавието */
  margin-bottom: 10px; /* Разстояние под заглавието */
}

.content p {
  color: #666; /* Средно тъмно сиво за текста */
  font-size: 16px; /* Размер на шрифта за обикновен текст */
  margin-top: 0; /* Премахване на стандартно отстояние отгоре */
}

.safe-img {
  width: 100%; /* Прави изображението реактивно, адаптиращо се към ширината на контейнера */
  max-width: 15%;
  max-height: 15%;

  height: auto; /* Запазва аспектното съотношение на изображението */
  border-radius: 8px; /* Заоблени ъгли */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Субтилен сянка за дълбочина */
}