.header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #555;
}

.logged-in a:not(.logged-in) {
  display: none;
}

.guest a:not(.guest) {
  display: none;
}
.safe {
  background-color: #d44141;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
}

.content h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  color: #666;
  font-size: 16px;
  margin-top: 0;
}

.safe-img {
  max-width: 15%;
  max-height: 15%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
